html
    head
        title  Jade
    body
        -   var arreglo = [1,2,3,4,5];
        -   for (var u = 0; u<arreglo.length; u++)
            p.
                has click #[a(href="simple.com") simplex]  link