extends ../../layouts/layouts.jade
block container
    div(class="d-flex justify-content-center")
            div(class="card")
                h3 Imagenes de la base de datos
                div(class="card-body border-success")
                    table(class="table table-bordered")
                        thead(class="thead bg-primary")
                            th Title
                            th(colspan="2") Opctions
                        tbody
                            for imgs in  img
                                tr
                                    td=imgs.title
                                    td
                                        a(href="/app/imagenes/#{imgs._id}/edit" class="btn btn-danger btn-sm mr-2") Edit
                                    td
                                        form(action="/app/imagenes/#{imgs._id}?_method=DELETE", method="post")
                                            input(type="submit", value="Eliminar" class="btn-sm btn btn-danger")
