extends ../../layouts/layouts.jade
block container
    div(class="d-flex align-items-center justify-content-center" style="height:100vh;")
        form(action="/app/imagenes", method="post" enctype="multipart/form-data")
            div(class="form-group")
                label(for="titulo") Titulo
                input(type="text" name="titulo" class="form-control")
            div(class="form-group")
                label(for="file") File
                input(type="file" name="file" class="form-control")
            div(class="form-group")
                input(type="submit", value="Subir" class="btn btn-danger")