extends ../../layouts/layouts.jade
block container
    h1 Hello #{img.title}
    if(typeof img.creator == "Undefined")
        p   Creator #{img.creator.email}
    a(href="app/imgs" class="btn btn-outline-success btn-sm") Imagenes